<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="layout/main :: header"></div>
<div class="catwrap">

    <div class="category" th:each="category : ${categories}">
        <div class="catname"><span th:text="${category.category.getCategoryName()}"> Title </span></div>
        <div class="catdesc"><span th:text="${category.category.getCategoryDescription()}"> Author </span></div>

    <div class="thread" th:each="thread : ${category.threads}">
        <div class="threadname"><span th:text="${thread.getThreadName()}"></span> </div>
        <div class="threaddate"><span th:text="${thread.getCreationDate()}"></span> </div>
        <div class="threadauthor"><span th:text="${thread.getAuthorId()}"></span> </div>
    </div>
    </div>
    </tbody>
</div>
</body>
</html>